{% extends "entrada/base_entrada.html" %}
{% load static %}

{% block content %}

{% include "includes/header.html" %}

<style>

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        background-color: #f8f9fa;
        padding: 10px 0 0 0;
    }

    .card-body {
        padding: 0.7rem;

    }


    .card-header {
        border-radius: 0 !important;
        background-color: #007bff !important;
        color: white !important;
        border-bottom: none;
        padding: 0.25rem 1rem;
    }
    .card:hover {
    box-shadow: inherit !important; /* mantiene la sombra original, pero sin aumentar */
    transform: none !important;
}
    .text-primary {
        color: #007bff !important;
    }

    .info-group p {
        line-height: 1.8;
        margin-bottom: 0.2rem;
    }

    .badge {
        padding: 1px 1px;
        font-size: 14px;
    }

    .status-badges {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .skill-badge {
        background-color: #007bff;
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        display: inline-block;
        margin: 5px 5px 5px 0;
        font-size: 14px;
    }

    .profile-img {
        width: 40%;
        height: auto;
        margin-bottom: 15px;
        background-color: #006ce0;
    }

    .progress {
        height: 25px;
        border-radius: 4px;
    }

    .progress-bar {
        line-height: 25px;
        font-size: 12px;
    }
    /* Estilo para las imágenes dentro de info-group */
    .info-group img {
        width: 110px;        /* ancho fijo */
        margin-right: 10px; /* espacio a la derecha */
        object-fit: contain; /* mantiene proporción sin deformar */
    }

</style>

<div class="container">
    <div class="row g-2">
        <div class="col-md-10 offset-md-1">
            <!-- Encabezado del perfil -->
            <div class="card ">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="mb-0 fs-5">Russell Roberth Bardales</h2>
                </div>
                <div class="card-body p-2 m-0">
                    <div class="row align-items-center g-0 m-2">
                        <div class="col-md-4 text-center m-0 p-0">
                            <img src="/static/img/foto4.png"
                                 class="profile-img rounded img-fluid m-0 p-0"
                                 width="200">
                        </div>

                        <div class="col-md-8 m-0 p-0">
                            <h4 class="text-muted m-1 p-1">
                                Desarrollador Backend Python | Django
                            </h4>

                            <p class="m-0 p-1">📧 roberthbardales@gmail.com</p>
                            <p class="m-0 p-1">📱 +51 960 174 778</p>
                            <p class="m-0 p-1">📍 Lima, Perú</p>

                            <a href="https://github.com/roberthbardales"
                               class="btn btn-success  m-1">
                                GitHub
                            </a>
                            <a href="https://codigobase.duckdns.org"
                               class="btn btn-warning m-1">
                                Blog
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Sobre Mí -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-user mr-2"></i>Sobre Mí</h5>
                </div>
                <div class="card-body">
                    <p class="text-secondary">
                        Desarrollador Backend Jr. en Python y Django, con formación y experiencia en Ingeniería de Sistemas. He trabajado en el desarrollo de mi propio sistema web; soy autodidacta, proactivo y muy apasionado por la tecnología, y busco integrarme a un equipo donde pueda crecer y aportar mis conocimientos.
                    </p>
                </div>
            </div>

            <!-- Experiencia Laboral -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-briefcase mr-2"></i>Experiencia Laboral</h5>
                </div>
                <div class="card-body">

                    <div class="timeline-item">
                        <h5 class="text-primary mb-2">Desarrollador Python/Django</h5>
                        <p class="mb-2">
                            <strong>Freelance</strong> |
                            <span class="text-secondary">Duracion (8 meses)</span>
                        </p>
                        <ul class="text-secondary">
                            <li>Desarrollé un blog web completo con roles, permisos y autenticación (local y Firebase con Gmail), incluyendo la gestión de posts, likes, comentarios y grupos de usuarios, utilizando Django y PostgreSQL.</li>
                            <li>Implementé funcionalidades como filtrado por categorías, búsqueda, paginación, resaltado de código tipo VS Code, almacenamiento de posts en perfiles y CRUD de grupos.</li>
                            <li>Añadí en el perfil de cada usuario un CRUD para guardar notas tipo Post-it.</li>
                            <li>Integré un chat en tiempo real mediante WebSockets y un formulario de contacto conectado a Gmail.</li>
                            <li>Desplegué el blog en un VPS con Ubuntu, utilizando Nginx y Daphne, garantizando disponibilidad y buen rendimiento.</li>
                            <li>Implementé cifrado SSL/TLS (HTTPS) para el dominio del blog, permitiendo una navegación segura.</li>
                        </ul>
                    </div>

                    <div class="timeline-item">
                        <h5 class="text-primary mb-2">Administrador de TI / Sistemas</h5>
                        <p class="mb-2">
                            <strong>JYW Repuestos S.A.C.</strong> |
                            <span class="text-secondary">Duracion (11 meses)</span>
                        </p>
                        <ul class="text-secondary">
                            <li>Creé y administré servidores virtuales en VMware y vSphere 6.0, asegurando alta disponibilidad del servicio y optimización de costos.</li>
                            <li>Gestioné Active Directory en Windows Server 2012, optimizando la administración de usuarios y datos compartidos, lo que redujo en 30% los incidentes por errores de acceso.</li>
                            <li>Administré el firewall mediante iptables, fortaleciendo la seguridad y reduciendo intentos de intrusión.</li>
                            <li>Monitoreé la red y los servidores con PRTG, permitiendo la detección temprana de fallas.</li>
                            <li>Administré correos corporativos con Zimbra, garantizando la continuidad operativa.</li>
                            <li>Generé reportes en SQL Server 2012 R2, agilizando procesos internos.</li>
                            <li>Implementé backups automáticos de bases de datos y servidores, disminuyendo el riesgo de pérdidas.</li>
                            <li>Configuré un servidor VPN, permitiendo conexiones seguras desde cualquier parte del mundo.</li>
                        </ul>
                    </div>

                    <div class="timeline-item">
                        <h5 class="text-primary mb-2">Desarrollador PHP/MySQL</h5>
                        <p class="mb-2">
                            <strong>Universidad Nacional Federico Villarreal</strong> |
                            <span class="text-secondary">Duracion (6 meses)</span>
                        </p>
                        <ul class="text-secondary">
                            <li>Desarrollé un sistema web para el registro de estudiantes de inglés, utilizado por 4 facultades.</li>
                            <li>Utilicé PHP y MySQL, y fue desplegado en un hosting institucional.</li>
                            <li>Implementé la generación y descarga de reportes en Excel y PDF.</li>
                            <li>Desarrollé una interfaz web responsive utilizando Bootstrap.</li>
                        </ul>
                    </div>

                    <div class="timeline-item">
                        <h5 class="text-primary mb-2">Practicante de Sistemas</h5>
                        <p class="mb-2">
                            <strong>Inversiones Granos del Paraíso S.A.C.</strong> |
                            <span class="text-secondary">Duracion (6 meses)</span>
                        </p>
                        <ul class="text-secondary">
                            <li>Operación y soporte del sistema de ventas FlexBusiness ERP.</li>
                            <li>Facturación electrónica e impresión de facturas y boletas.</li>
                            <li>Soporte técnico a usuarios finales.</li>
                            <li>Instalación y configuración de impresoras locales y en red.</li>
                            <li>Ensamblaje de equipos, formateo e instalación de sistemas operativos Windows.</li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- PORTAFOLIO -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-briefcase mr-2"></i>Portafolio</h5>
                </div>
                <div class="card-body">

                    <div class="timeline-item">
                        <h5 class="text-primary mb-2">SISTEMA BLOG COMPLETO CON CHAT EN TIEMPO REAL</h5>
                        <p class="mb-2">
                            <strong>Python | Django | Django REST | Postgresql | Bootstrap | GitHub | Ubuntu | Nginx | Daphne</strong>

                        </p>
                        <ul class="text-secondary">
                            <li>Registro de usuarios y autenticación: local y mediante Firebase usando cuenta de Gmail.</li>
                            <li>Login, logout y cambio de contraseña.</li>
                            <li>Roles y permisos: superusuario, administrador y usuario común.</li>
                            <li>Resaltado de sintaxis de código similar a los temas de VS Code, para una mejor visualización de código.</li>
                            <li>Chat en tiempo real implementado con WebSockets.</li>
                            <li>Filtros dinámicos, comentarios y sistema de “likes”.</li>
                            <li>Consultas y gestión de datos usando PostgreSQL con la ORM de Django.</li>
                            <li>Integración de CKEditor para la creación de posts y generación automática de slugs.</li>
                            <li>Mini sistema para tomar notas, similar a los POST-IT de oficina.</li>
                            <li>Despliegue en un VPS con Linux, utilizando Nginx y Daphne para el chat en tiempo real.</li>
                        </ul>
                    </div>



                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-graduation-cap mr-2"></i>Educación</h5>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <!-- Columna 1 -->
                        <div class="col-md-6">
                            <!-- Universidad -->
                            <div class="info-group mb-3 d-flex align-items-center">
                                <img src="/static/img/unfv.png" alt="UNFV">
                                <div>
                                    <p class="mb-0"><strong>Ingeniería de Sistemas</strong></p>
                                    <p class="text-secondary mb-0">Universidad Nacional Federico Villarreal</p>

                                </div>
                            </div>

                            <!-- Udemy -->
                            <div class="info-group mb-3 d-flex align-items-center">
                                <img src="/static/img/udemy.png" alt="Udemy">
                                <div>
                                    <p class="mb-0"><strong>Django y Django REST Framework</strong></p>
                                    <p class="text-secondary mb-0">Udemy</p>

                                </div>
                            </div>
                        </div>

                        <!-- Columna 2 -->
                        <div class="col-md-6">
                            <div class="info-group mb-3 d-flex align-items-center">
                                <img src="/static/img/uni.png" alt="Sistemas UNI">
                                <div>
                                    <p class="mb-0"><strong>PHP, Linux, SQL Server, Windows Server</strong></p>
                                    <p class="text-secondary mb-0">SISTEMAS UNI</p>

                                </div>
                            </div>

                            <div class="info-group mb-3 d-flex align-items-center">
                                <img src="/static/img/cibertec.png" alt="CIBERTEC">
                                <div>
                                    <p class="mb-0"><strong>CCNA Routing and Switching V.5</strong></p>
                                    <p class="text-secondary mb-0">CIBERTEC</p>

                                </div>
                            </div>
                        </div>

                        <!-- ICPNA centrado -->
                        <div class="col-12 d-flex justify-content-center">
                            <div class="info-group mb-3 d-flex align-items-center">
                                <img src="/static/img/icpna.png" alt="ICPNA">
                                <div>
                                    <p class="mb-0"><strong>Inglés Intermedio 3</strong></p>
                                    <p class="text-secondary mb-0">ICPNA</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Habilidades Técnicas -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-code mr-2"></i>Habilidades Técnicas</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <p class="mb-2"><strong>Backend & Desarrollo Web:</strong></p>
                        <span class="skill-badge">Python</span>
                        <span class="skill-badge">Django</span>
                        <span class="skill-badge">Django REST Framework</span>
                        <span class="skill-badge">PHP</span>
                        <span class="skill-badge">HTML/CSS</span>
                        <span class="skill-badge">Bootstrap</span>
                        <span class="skill-badge">Javascript</span>
                    </div>

                    <div class="mb-3">
                        <p class="mb-2"><strong>Bases de Datos:</strong></p>
                        <span class="skill-badge">SQL Server 2012</span>
                        <span class="skill-badge">PostgreSQL</span>
                        <span class="skill-badge">MySQL</span>
                    </div>
                    <div class="mb-3">
                        <p class="mb-2"><strong>Sistemas Operativos & Servidores:</strong></p>
                        <span class="skill-badge">Linux</span>
                        <span class="skill-badge">Ubuntu</span>
                        <span class="skill-badge">Kali</span>
                        <span class="skill-badge">NGINX</span>
                        <span class="skill-badge">Gunicorn</span>
                        <span class="skill-badge">Windows Server 2012</span>
                        <span class="skill-badge">Windows 7/8/10</span>

                    </div>


                </div>
            </div>

            <!-- Idiomas -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas fa-language mr-2"></i>Idiomas</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <p class="mb-2"><strong>Español</strong></p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%">Nativo</div>
                        </div>
                    </div>

                    <div>
                        <p class="mb-2"><strong>Inglés</strong></p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" style="width: 50%">Básico - Intermedio</div>
                        </div>
                        <p class="text-secondary mt-2"><small><i class="fas fa-trophy contact-icon"></i>ELASH 1 - 121 puntos</small></p>
                    </div>
                </div>
            </div>

            <!-- Proyectos -->
            <!-- <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0"><i class="fas fa-project-diagram mr-2"></i>Proyectos</h3>
                </div>
                <div class="card-body">
                    <div class="info-group">
                        <h5 class="text-primary mb-2">Blog Personal de Python / Django</h5>
                        <p class="text-secondary mb-2">
                            <i class="fas fa-calendar contact-icon"></i>Octubre 2022 - Diciembre 2022
                        </p>
                        <p class="text-secondary mb-2">
                            Blog personal desarrollado con Python y Django, enfocado en temas de desarrollo web, PostgreSQL, seguridad informática y hacking ético.
                        </p>
                        <p class="mb-0">
                            <a href="http://134.122.30.149/" target="_blank" class="badge badge-success">
                                <i class="fas fa-external-link-alt"></i> Ver Proyecto
                            </a>
                        </p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>



{% endblock content %}