# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos sensibles
firebase-key.json

# Archivos generados
__pycache__/
*.pyc
*.log

# Archivos estáticos recolectados
staticfiles/

# Backups
zbackup bd/

# Archivos del sistema
.DS_Store
Thumbs.db
