# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos sensibles
firebase-key.json


# Archivos generados
__pycache__/
*.pyc
*.log

# Archivos subidos por usuarios
media/

# Archivos estáticos recolectados
staticfiles/

# Backups
"zbackup bd"/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
visitas_pc.txt