{% extends "favoritos/base_favoritos.html" %}
{% load static %}

{% block content %}

{% include "includes/header.html" %}

<div class="container" style="min-height: 650px">
    <div class="row justify-content-center">
        <div class="col-sm-3 mt-4 px-4 py-4 bg-info">
            <div class="card1 text-white">
                <div class="card-body">
                    <div class="col">
                        <h5>{{ user.full_name }}</h5>
                    </div>
                    <div class="col">
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="col">
                        <p>{{ user.get_ocupation_display }}</p>
                    </div>
                    <div class="col">
                        <p>{{ user.date_birth }}</p>
                    </div>
                </div>

                <div class="col-12">
                    {% if user.is_superuser %}
                        <p>
                            <a class="btn btn-dark btn-block h5 text-light" href="{% url 'users_app:user-lista' %}">Listar Usuarios</a>
                        </p>
                    {% endif %}
                </div>

                <div class="col-12">
                    <p>
                        <a class="btn btn-warning btn-block h5 text-dark" href="{% url 'users_app:user-update' %}">Cambiar Contraseña</a>
                    </p>
                </div>
            </div>

            <!-- Lista de grupos del usuario -->
            <div class="mt-4">
                <hr class=" border-dark">

                <a href="{% url 'favoritos_app:grupos_crud' %}" class="btn btn-primary text-dark d-block mx-auto">
                    Ir a Mis Grupos
                  </a>
                  <ul class="list-group mt-3">
                    <li class="list-group-item p-0">
                    <a href="?grupo={{ grupo.name }}"
                    class="btn btn-success btn-sm w-100">
                        Todos
                    </a>
                    </li>
             </li>
                    {% for grupo in contexto_grupos %}
                        <li class="list-group-item p-0">
                            <a href="?grupo={{ grupo.name }}"
                               class="btn btn-success btn-sm w-100 {% if grupo_activo == grupo.name %}active{% endif %}">
                                {{ grupo.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>


            </div>


        </div>

        <div class="col-sm-9 mt-3">
            <h5 class="text-center h3 bg-warning mt-2 py-2" >Ultimos Posts Guardados</h5>

            <div class="row px-3 py-3">
                {% for entrada in entradas_user %}

                    <div class="card1 mb-2 border">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-4">
                                <img class="img-fluid mt-4 d-block" src="{{ entrada.entry.image.url }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-fluid mb-2 mt-2">
                                    <h5 class="card-title">{{ entrada.entry.title|truncatechars:100 }}</h5>
                                    <!-- <p class="card-text">{{ entrada.entry.resume|truncatechars:100 }}</p> -->
                                    <p><strong>ID: {{ entrada.id }} - {{ entrada.group.name }} </strong> </p> <!-- ID de favorito -->
                                    <!-- Select para cambiar grupo -->
                                    <p><strong></strong></p>
                                    <select class="form-select form-select-sm" onchange="window.location.href=this.value;">

                                        </option>
                                        <!-- Opciones de los grupos del usuario -->
                                        {% for g in contexto_grupos %}
                                            <option value="{% url 'favoritos_app:cambiar-grupo' entrada.id %}?group_id={{ g.id }}"
                                                {% if entrada.group and entrada.group.id == g.id %}selected{% endif %}>
                                                {{ g.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <div class="row mt-4 mr-0 ml-0">
                                        <div class="col-6">
                                            <a href="{% url 'entrada_app:entry-detail' entrada.entry.slug %}" class="btn btn-block btn-primary">Ver</a>
                                        </div>
                                        <div class="col-6">
                                            <form method="post" action="{% url 'favoritos_app:delete-favoritos' entrada.id %}">{% csrf_token %}
                                                <button type="submit" class="btn btn-block btn-danger">Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
