{% extends "favoritos/base_favoritos.html" %}
{% load static %}

{% block content %}

{% include "includes/header.html" %}

<div class="container" style="min-height: 650px">
    <div class="row justify-content-center">
        <div class="col-sm-3 mt-4 px-4 py-4 bg-info">
            <div class="card1 text-white">
                <div class="card-body">
                    <div class="col">
                        <h5>{{ user.full_name }}</h5>
                    </div>
                    <div class="col">
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="col">
                        <p>{{ user.get_ocupation_display }}</p>
                    </div>
                    <div class="col">
                        <p>{{ user.date_birth }}</p>
                    </div>
                </div>

                <div class="col-12">
                    {% if user.is_superuser %}
                        <p>
                            <a class="btn btn-dark btn-block h5 text-light" href="{% url 'users_app:user-lista' %}">Listar Usuarios</a>
                        </p>
                    {% endif %}
                </div>

                <div class="col-12">
                    <p>
                        <a class="btn btn-warning btn-block h5 text-dark" href="{% url 'users_app:user-update' %}">Cambiar Contraseña</a>
                    </p>
                </div>
            </div>

            <!-- Lista de grupos del usuario -->
            <div class="mt-4">
                <hr class=" border-dark">

                <a href="{% url 'favoritos_app:grupos_crud' %}" class="btn btn-success text-dark d-block mx-auto">
                    Ir a Mis Grupos
                  </a>
                <ul class="list-group mt-3">
                    {% for grupo in contexto_grupos %}
                        <li class="list-group-item">
                            {{ grupo.name }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">No tienes grupos creados.</li>
                    {% endfor %}
                </ul>
                <div class="list-group">
                    <a href="#!" class="list-group-item active">Grupos</a>
                    <a href="{% url 'entrada_app:entry-lista' %}" class="list-group-item list-group-item-action">Todo</a>
                    {% for categoria in categorias %}
                    <a href="?categoria={{categoria.short_name}}" class="list-group-item list-group-item-action">{{categoria.short_name}}</a>
                    {% endfor %}
                </div>
            </div>


        </div>

        <div class="col-sm-9 mt-3">
            <h5 class="text-center h3 bg-warning mt-2 py-2" >Usuario: {{user}} </h5>

            <div class="row px-3 py-3">
                <div>
                    <h5>Favoritos del grupo: </h5>
                </div>
                <div>
                    <select name="favoritos">
                        {% for item in contexto_prueba %}
                        <option value="{{ item.id }}">{{ item.id }}-{{item.name}}</option>
                        {% empty %}
                        <option disabled>No hay favoritos en este grupo.</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <ul>
                    {% for item in contexto_prueba %}
                    <h5 type="">
                        {{item.name}}
                    </h5>
                    {% endfor %}
                </ul> -->
                <ul>
                    {% for item in contexto_prueba %}
                      <li>
                        <a href="{% url 'favoritos_app:favoritos_por_grupo' item.id %}">
                          {{ item.name }}
                        </a>
                      </li>
                    {% empty %}
                      <li>No tienes grupos creados.</li>
                    {% endfor %}
                  </ul>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
