<button id="loginGoogle">Login con Google</button>
<div id="userInfo"></div>

<script src="https://www.gstatic.com/firebasejs/10.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.2.0/firebase-auth-compat.js"></script>
<script>
    const firebaseConfig = {
      apiKey: "AIzaSyBCTDohD_NTVvK394Eo07v9x6IdIYbW8eo",
      authDomain: "blog2025-9cdf7.firebaseapp.com",
      projectId: "blog2025-9cdf7",
      storageBucket: "blog2025-9cdf7.firebasestorage.app",
      messagingSenderId: "772020230767",
      appId: "1:772020230767:web:5a852fd674ed5ec24bcb9a"
    };



firebase.initializeApp(firebaseConfig);
const auth = firebase.auth();

document.getElementById('loginGoogle').addEventListener('click', async () => {
    const provider = new firebase.auth.GoogleAuthProvider();
    try {
        const result = await auth.signInWithPopup(provider);
        const token = await result.user.getIdToken();

        const res = await fetch('/users/login/firebase/', {
            method: 'POST',
            headers: { 'Authorization': 'Bearer ' + token }
        });
        const data = await res.json();
        document.getElementById('userInfo').innerText = JSON.stringify(data.user, null, 2);
    } catch (err) {
        console.error(err);
    }
});
</script>
